/node_modules
.env
Referencia.md
database.sqlite
/public
/WWebJS
/uploads
/backup
/mysql
/uploads
/logs
database.sqlite.bkp
yarn.lock-

node_modules

wweb-api-data

/wp
letsencrypt
nginx/certs
uploads
wp
nginx
!nginx/config.d/custom.conf
!nginx/config.d/default